* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(img/1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  height: 75px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

.logo {
  color: #ff7200;
  font-size: 35px;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  transition: color 0.4s ease-in-out;
}

.menu ul li a:hover {
  color: #ff7200;
}

.search {
  display: flex;
  align-items: center;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  color: #fff;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #fff;
  color: #ff7200;
}

.content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.content h1 {
  font-family: "Times New Roman", serif;
  font-size: 50px;
  margin-top: 50px;
}

.content .par {
  font-family: Arial, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
  padding: 20px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.4s ease;
  margin-top: 20px;
}

.content .cn a {
  text-decoration: none;
  color: #000;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #ff7200;
  font-size: 65px;
}

.form {
  max-width: 300px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 25px;
  margin: 30px auto;
  color: #fff;
}

.form h2 {
  text-align: center;
  color: #ff7200;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.form input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ff7200;
  color: #fff;
  margin-top: 30px;
  padding-left: 10px;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial, sans-serif;
}

.btnn {
  width: 100%;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: background 0.4s ease;
}

.btnn:hover {
  background: #fff;
  color: #ff7200;
}

.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.form .link {
  font-family: Arial, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: #ff7200;
}

.liw {
  padding-top: 15px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons a {
  text-decoration: none;
  color: #fff;
}

.icons ion-icon {
  font-size: 30px;
  transition: color 0.3s ease;
}

.icons ion-icon:hover {
  color: #ff7200;
}
